.top {
    background-color: palevioletred;
    background-image: url(..//image/top.jpg);
    background-size: cover;
}

.menu {
    text-align: center;
}

.id {
    padding-left: 2%;
}

.title {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: blueviolet;
    font-size: 55px;
}

.ss_title {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 35px;
    color: blueviolet;
}

.simplon {
    text-align: center;
    background-color: lightgray;
}

.gestion {
    text-align: center;
    background-color: lightgray;
}

.assfune {
    text-align: center;
    background-color: lightgray;
}

.thanato {
    text-align: center;
    background-color: lightgray;
}

.first {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 25px;
    color: black;
}

.second {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 15px;
    color: blueviolet;
}

.experience{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: lightgray;
}

.timeline{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 100%;
    box-sizing: border-box;
    
}

.timeline:before
{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background:  #c5c5c5;
    
}

.timeline ul{
    margin: 0;
    padding: 0;
   
}



.timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd)
{
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even)
{
    float: right;
    text-align: left;
    clear: both;
}

.content{
    padding-bottom: 20px;
    
}

.timeline ul li:nth-child(odd):before
{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background-color: rgb(163, 45, 191);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(138, 43, 226, 0.35);
}

.timeline ul li:nth-child(even):before
{
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background-color: rgb(163, 45, 191);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(138, 43, 226, 0.35);
}

.timeline ul li h3 
{
   margin: 0;
    padding: 0;
    font-weight: 600;
    color: blueviolet;
}

.timeline ul li p
{
    margin: 10px 0 0;
    padding: 0;
}

.timeline ul li .time h4
{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.timeline ul li:nth-child(odd) .time
{
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background-color: blueviolet;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(138, 43, 226, 0.35);
}

.timeline ul li:nth-child(even) .time
{
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background-color: blueviolet;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(138, 43, 226, 0.35);
}

.hobbie {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: blueviolet;
    background-color: lightgray;
}

#footer {
    /*bandeau footer*/
    background-color: lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 150px;

}

.logo {
    text-align: center;
    color: blueviolet;

}

.copym {
    float: right;
    color: blueviolet;
    padding-right: 3%;
}
